<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738304686148-bim9rrvaq3ghmgpu9h676qjupmltummh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738304686148-bim9rrvaq3ghmgpu9h676qjupmltummh</string>
	<key>API_KEY</key>
	<string>AIzaSyDDD5C1N4diXrWmqNA02B2v4H-hZsrKR0A</string>
	<key>GCM_SENDER_ID</key>
	<string>738304686148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.templatereactnative</string>
	<key>PROJECT_ID</key>
	<string>login-9ec4f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-9ec4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738304686148:ios:40a7180c1c202d79056411</string>
</dict>
</plist>